<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/nucTestApp/insert" method = "post">
    姓名：<input name = "usrName"/>
    身份证号：<input name = "usrId"/> <br>
    核酸类型：<input name = "testType"/> <br>
    核酸日期：<input name = "testDate"/> <br>
    <input type = "submit" value = "预约">
</form>
</body>
</html>